  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <a href="http://www.bu.edu/library/">
            <img src="img/bu-lib.png" class="footer-img img-responsive img-centered" alt="">
          </a>
        </div>
        <div class="col-lg-2">
          <h4>AND</h4>
        </div>   
        <div class="col-lg-5">
          <a href="https://www.mozillascience.org">
            <img src="img/ScienceLabSticker.ai.png" class="footer-img img-responsive img-centered" alt="">
          </a>
          <a href="{{ site.github.repository_url }}/blob/gh-pages/codeOfConduct.md">Study Group Code of Conduct</a>
        </div>
      </div>
    </div>
  </footer>
