.team-member img.img-responsive {
 max-width: 110px;
}
.team-member i.fa {
 font-size: 110px;
}

.bu-event-date {
	margin-top: 24px; 
}
.bu-event-date > ul {
	list-style: none;
	line-height: 1;
	text-align: center;
}

.bu-event-date > ul > li:first-child,
.bu-event-date > ul > li:nth-child(3) {
	font-size: 150%; 
}

.bu-event-date > ul > li:nth-child(2) {
	font-size: 400%; 
}

.events, 
.bu-event-date,
.bu-event-date > ul {
	padding: 0;
}


.events > li {
	margin: 30px 0;
}

.eventDesc > p {
	font-size: 105%; 
}

section h3.section-subheading {
	margin-bottom: 0px; 
}

.talk-btn {
	margin-top: 15px; 
}

.navbar-default,
.navbar-default .navbar-shrink  {
	background-color: rgba(255, 255, 255, 0.9); 
}

.navbar-default .navbar-brand {
	max-height: 60px; 
	padding: 0; 
}

.navbar-default .navbar-brand img {
	padding: 9%;
	max-height: 60px; 
}

.navbar-default .nav li a {
	color: #131212;
}

footer .footer-img {
	max-width: 190px; 
}

footer .col-lg-6 {
	margin-top: 20px; 
}

.team-members {
	padding: 10px 0;
}

/* ****************************************

 portfolio_grid includes  

***************************************** */

.followUs {
	text-align: center; 
}

a.btn.btn-xl.follow {
	background-color: #fff;
	border-color: #fff;
	color: black;
}
a.btn.btn-xl.follow:hover {
	border-color: #B60000;  
}

.follow-or h5 {
    font-size: 400%;
    padding: 10%;
}

/* ****************************************

 Sign up Modal Styles 

***************************************** */

#mc_embed_signup div.mce_inline_error {
	background-color: #DA6F6F;
}

#mc_embed_signup {
 	background: #fff; 
 	clear: left; 
}

#mc-embedded-subscribe {
	margin: 0 auto;
}




@media (min-width: 768px) {  
	.navbar-default .navbar-brand {
		padding: 3% 0; 
		width: 75%;
	}
	.navbar-default .navbar-brand img {
		padding: 0; 
	}
	.navbar-default.navbar-shrink {
		background-color: rgba(255, 255, 255, 0.9); 
	}

}